{% extends 'public/interfaces/events/single.twig' %}
{% block main %}
<main class="main-content">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11" style="background-image: url('{{ '/img/logos/events/image.jpg' }}'); background-position: top;">
      <span class="mask bg-gradient-dark opacity-6"></span>
    </div>
    <div class="container w-100">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="mx-auto">
          <div class="card">
              <h5 class="mt-2 mb-2 text-center">Participation to the Event </h5>
            <div class="card-header text-center pt-4">
            <div class="card-body">
              <form role="form" class="row">
                <div class="col-md-6 col-sm-12">
                  <input type="text" class="form-control" placeholder="First Name" aria-label="First_Name">
                </div>
                 <div class="col-md-6 col-sm-12">
                  <input type="text" class="form-control" placeholder="Last Name" aria-label="Last_Name">
                </div>
                <div class="col-md-6 col-sm-12">
                  <input type="email" class="form-control" placeholder="Email" aria-label="Email">
                </div>
                <div class="col-md-6 col-sm-12">
                  <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number">
                </div>
                  <div class="col-md-6 col-sm-12">
                    <input type="text" class="form-control" placeholder=" Address "aria-label="Address">
                  </div>
                  <div class="col-12">
                  <button type="button" class="btn bg-gradient-dark position-relative w-25">Submit</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
{% endblock %}
