{% extends 'template.twig' %}
{% block styles %}
    {{ parent() }}
    <style>
        .navbar .nav-link {
            color: blue;
        }
        .nav-link:hover
        {
            background-color: #ef6603;
        }
    </style>
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg shadow fixed-top bg-white">
        <div class="container-fluid">
            <a class="navbar-brand font-weight-bolder " href="/public/interfaces/index.twig">
                Events
            </a>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                <ul class="navbar-nav nav-pills navbar-nav-hover -100 ms-auto">
                    <li class="nav-item">
                        <a href="/public/interfaces/index.twig" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/public/interfaces/index.twig" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/public/interfaces/index.twig" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/public/interfaces/index.twig" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/public/interfaces/index.twig" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/login" class="nav-link">
                            Login / Signup
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script defer src="/js/custom.js"></script>
{% endblock %}
