{% extends 'template.twig' %}
{% block styles %}
    <style>
        #header {
            height: 70px;
            transition: all 0.5s;
        }

        #header .logo h1 {
            font-size: 28px;
            margin: 0;
            padding: 0;
            line-height: 1;
            font-weight: 700;
            letter-spacing: 1px;
        }

        #header .logo img {
            padding: 0;
            margin: 0;
            max-height: 40px;
        }


        .navbar {
            height: 70px;
        }


        .navbar a i,
        .navbar a:focus i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

        .navbar-nav .nav-link {
            color: white;
        }


        .navbar ul {
            display: flex;
            list-style: none;
            align-items: center;
        }

        .navbar a,
        .navbar a:focus {
            font-size: 14px;
            color: #fff;
            white-space: nowrap;
            transition: 0.3s;
            border-radius: 30px;
        }

        @media (max-width: 991px) {

            .navbar ul {
                display: none;
            }
        }

        .navbar-mobile ul {
            display: block;
            position: absolute;
            top: 55px;
            right: 15px;
            bottom: 15px;
            left: 15px;
            padding: 10px 0;
            border-radius: 10px;
            background-color: #fff;
            overflow-y: auto;
            transition: 0.3s;
        }

        .navbar-mobile a,
        .navbar-mobile a:focus {
            padding: 10px 20px;
            margin: 5px;
            font-size: 15px;
            color: #2a2c39;
        }

        .navbar-mobile a:hover,
        .navbar-mobile .active,
        .navbar-mobile li:hover > a {
            color: #fff;
        }

        .navbar-mobile .dropdown ul {
            position: static;
            display: none;
            margin: 10px 20px;
            padding: 10px 0;
            z-index: 99;
            opacity: 1;
            visibility: visible;
            background: #fff;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        }

        .navbar-mobile .dropdown ul li {
            min-width: 200px;
        }

        .navbar-mobile .dropdown ul a {
            padding: 10px 20px;
        }

        .navbar-mobile .dropdown ul a i {
            font-size: 12px;
        }

        .navbar-mobile .dropdown ul a:hover,
        .navbar-mobile .dropdown ul .active:hover,
        .navbar-mobile .dropdown ul li:hover > a {
            color: #fff;
        }

        #footer {
            background: #14151c;
            color: #fff;
            font-size: 14px;
            text-align: center;
            padding: 30px 0;
        }

        #footer h3 {
            font-size: 36px;
            font-weight: 700;
            color: #fff;
            position: relative;
            font-family: "Poppins", sans-serif;
            padding: 0;
            margin: 0 0 15px 0;
        }

        #footer p {
            font-size: 15px;
            font-style: italic;
            padding: 0;
            margin: 0 0 40px 0;
        }

        #footer .social-links {
            margin: 0 0 40px 0;
        }

        #footer .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #ef6603;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }

        #footer .social-links a:hover {
            background: #bd5102;
            color: #fff;
            text-decoration: none;
        }

        #footer .copyright {
            margin: 0 0 5px 0;
        }

        #footer .credits {
            font-size: 13px;
        }
    </style>
{% endblock %}
{% block header %}
    {% block navbar %}
        <header class="bg-transparent">
            <nav class="navbar navbar-expand-lg border-radius-0 shadow-none fixed-top">
                <div class="container-fluid container-lg ps-2 pe-0">
                    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white text-xl"
                       href="/public">
                        Bright Event Creator
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                            aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
                    </button>
                    <div class="collapse navbar-collapse container-fluid container-lg w-100" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover ms-auto">
                            <li class="nav-item pe-2 ps-2">
                                <a role="button" href="/"
                                   class="nav-link cursor-pointer  text-center"
                                   id="dropdownMenuPages">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item  ms-2">
                                <a role="button" href="/about"
                                   class="nav-link ps-3 d-flex justify-content-between cursor-pointer align-items-center "
                                   id="dropdownMenuAccount">
                                    About
                                </a>
                            </li>
                            <li class="nav-item  ms-2">
                                <a role="button" href="/services"
                                   class="nav-link ps-3 d-flex justify-content-between cursor-pointer align-items-center "
                                   id="dropdownMenuBlocks">
                                    Services
                                </a>
                            </li>
                            <li class="nav-item  ms-2">
                                <a role="button"
                                   class="nav-link ps-3 d-flex justify-content-between cursor-pointer align-items-center "
                                   id="dropdownMenuEcommerce">
                                    Portfolio
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button"
                                   class="nav-link  text-center cursor-pointer "
                                   id="dropdownMenuDocs">
                                    Pricing
                                </a>
                            </li>
                            <li class="nav-item  ms-2">
                                <a role="button"
                                   class="nav-link cursor-pointer text-center"
                                   id="dropdownMenuDocs">
                                    Contact
                                </a>
                            </li>
                            {% if req.session.user is defined and not req.session.user.is_superuser %}
                                <li class="nav-item  ms-2">
                                    <a role="button" href="/dashboard/events"
                                       class="nav-link ps-3  cursor-pointer text-center "
                                       id="dropdownMenuDocs">
                                        go to dashboard
                                    </a>
                                </li>
                                <li class="nav-item  ms-2">
                                    <a role="button" href="/public/auth/logout"
                                       class="nav-link  cursor-pointer text-center "
                                       id="dropdownMenuDocs">
                                        logout
                                    </a>
                                </li>
                            {% elseif req.session.user is not defined %}
                                <li class="nav-item  ms-2">
                                    <a role="button" href="/public/auth/login"
                                       class="nav-link ps-3  cursor-pointer text-center "
                                       id="dropdownMenuDocs">
                                        Sign in
                                    </a>
                                </li>
                                <li class="nav-item  ms-2">
                                    <a role="button" href="/public/auth/signup"
                                       class="nav-link  cursor-pointer text-center "
                                       id="dropdownMenuDocs">
                                        Sign up
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}
{% endblock %}
<main>
    {% block main %}

    {% endblock %}
</main>
{% block footer %}
    {% if req.session.user is not defined or  req.session.user.is_superuser != true %}
        <footer id="footer">
            <div class="container">
                <h3>Events</h3>
                <p>"Success is not final, failure is not fatal: it is the courage to continue that counts."</p>
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </footer>
    {% endif %}
{% endblock %}
