{% import '/pubic/components/contact-form.twig'  as contact %}
{% extends 'public/template.twig' %}
{% block styles %}
    {{ parent() }}
    <link  rel="stylesheet" href="{{ '/css/contact.css' }}" />
{% endblock %}
{% block main %}
    <main class="container mt-5">
        {{ contact.ContactForm() }}<!-- End Contact Section -->
    </main>
{% endblock %}
