<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <title>
        {% block title %} {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="/css/nucleo-icons.css" rel="stylesheet"/>
    <link href="/css/nucleo-svg.css" rel="stylesheet"/>
    <link href="/css/nucleo-svg.css" rel="stylesheet"/>
    <!-- CSS Files -->
    <style>
        caption, legend
        {
            display: none;
        }
    </style>
    <link id="pagestyle" href="/css/argon-dashboard.min.css" rel="stylesheet"/>
    {% block styles %} {% endblock %}
</head>
<body id="" class="{{ req.session.user.is_superuser ? 'g-sidenav-show': '' }}">
{% block navbar %}

{% endblock navbar %}
{% block main %}

{% endblock main %}
{% block footer %}

    {% if req.session.user is defined and  req.session.user.is_superuser != true %}
        <footer class="footer pt-5 mt-5">
            <div class="container">
                <div class=" row">
                    <div class="col-md-3 mb-4 ms-auto">
                        <div>
                            <a href="https://www.creative-tim.com/product/material-kit-pro">
                                <img src=" img/logo-ct-dark.png" class="mb-3 footer-logo" alt="main_logo">
                            </a>
                            <h6 class="font-weight-bolder mb-4">Material Kit 2 PRO</h6>
                        </div>
                        <div>
                            <ul class="d-flex flex-row ms-n3 nav">
                                <li class="nav-item">
                                    <a class="nav-link pe-1" href="https://www.facebook.com/CreativeTim/"
                                       target="_blank">
                                        <i class="fab fa-facebook text-lg opacity-8"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pe-1" href="https://twitter.com/creativetim" target="_blank">
                                        <i class="fab fa-twitter text-lg opacity-8"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pe-1" href="https://dribbble.com/creativetim" target="_blank">
                                        <i class="fab fa-dribbble text-lg opacity-8"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pe-1" href="https://github.com/creativetimofficial"
                                       target="_blank">
                                        <i class="fab fa-github text-lg opacity-8"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pe-1"
                                       href="https://www.youtube.com/channel/UCVyTG4sCw-rOvB9oHkzZD1w"
                                       target="_blank">
                                        <i class="fab fa-youtube text-lg opacity-8"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 mb-4">
                        <div>
                            <h6 class="text-sm">Company</h6>
                            <ul class="flex-column ms-n3 nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.creative-tim.com/presentation"
                                       target="_blank">
                                        About Us
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.creative-tim.com/templates/free"
                                       target="_blank">
                                        Freebies
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.creative-tim.com/templates/premium"
                                       target="_blank">
                                        Premium Tools
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.creative-tim.com/blog" target="_blank">
                                        Blog
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 mb-4">
                        <div>
                            <h6 class="text-sm">Resources</h6>
                            <ul class="flex-column ms-n3 nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://iradesign.io/" target="_blank">
                                        Illustrations
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.creative-tim.com/bits" target="_blank">
                                        Bits & Snippets
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.creative-tim.com/affiliates/new"
                                       target="_blank">
                                        Affiliate Program
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 mb-4">
                        <div>
                            <h6 class="text-sm">Help & Support</h6>
                            <ul class="flex-column ms-n3 nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.creative-tim.com/contact-us" target="_blank">
                                        Contact Us
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.creative-tim.com/knowledge-center"
                                       target="_blank">
                                        Knowledge Center
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="https://services.creative-tim.com/?ref=ct-material-kit-pro-footer"
                                       target="_blank">
                                        Custom Development
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.creative-tim.com/sponsorships"
                                       target="_blank">
                                        Sponsorships
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
                        <div>
                            <h6 class="text-sm">Legal</h6>
                            <ul class="flex-column ms-n3 nav">
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="https://www.creative-tim.com/knowledge-center/terms-of-service/"
                                       target="_blank">
                                        Terms & Conditions
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="https://www.creative-tim.com/knowledge-center/privacy-policy/"
                                       target="_blank">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.creative-tim.com/license" target="_blank">
                                        Licenses (EULA)
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center">
                            <p class="text-dark my-4 text-sm font-weight-normal">
                                All rights reserved. Copyright ©
                                <script>
                                  document.write(((new Date()).getFullYear()).toString())
                                </script>
                                Material Kit by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endif %}
{% endblock footer %}
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
{% block scripts %}
    <script type="text/javascript" src="/js/core/popper.min.js"></script>
    <script type="text/javascript" src="/js/core/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/plugins/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="/js/plugins/smooth-scrollbar.min.js"></script>
    <p>hello world</p>
    <script type="text/javascript" src="/js/plugins/quill.min.js"></script>
    <script type="text/javascript">
      const win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), {
          damping: '0.5'
        });
      }
    </script>
    <script src="/js/argon-dashboard.min.js"></script>
{% endblock scripts %}
</body>
</html>
