{% extends 'public/interfaces/events/template.twig' %}
{% block styles %}
    <style>
        legend {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
        <div class="container pb-lg-9 pb-10 pt-7 postion-relative z-index-2">
            <div class="row mt-4">
                <div class="col-md-6 mx-auto text-center">
                    <h3 class="text-white">See our pricing</h3>
                </div>
            </div>
        </div>
    <div class="mt-n8">
        <div class="container">
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="monthly">
                    <div class="row">
                        <div class="col-lg-4 mb-lg-0 mb-4">
                            <div class="card">
                                <div class="card-header text-center pt-4 pb-3">
                                    <span class="text-uppercase font-weight-bold text-dark">Silver Pack</span>
                                    <h1 class="font-weight-bold mt-2">
                                        <small>$</small>59
                                    </h1>
                                </div>
                                <div class="card-body text-lg-start text-center pt-0">
                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-success shadow text-center">
                                            <i class="fas fa-check opacity-10"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Event Price </span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-secondary shadow text-center">
                                            <i class="fas fa-minus"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Hosting Price
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-secondary shadow text-center">
                                            <i class="fas fa-minus"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Transportation Price
                                            </span>
                                        </div>
                                    </div>




                                    <a href="javascript:;" class="btn btn-icon btn-dark d-lg-block mt-3 mb-0">
                                        get your ticket
                                        <i class="fas fa-arrow-right ms-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-lg-0 mb-4">
                            <div class="card">
                                <div class="card-header text-center pt-4 pb-3">
                                    <span class="text-uppercase font-weight-bold text-dark">Bronze Pack</span>
                                    <h1 class="font-weight-bold mt-2">
                                        <small>$</small>89
                                    </h1>
                                </div>
                                <div class="card-body text-lg-start text-center pt-0">
                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-success shadow text-center">
                                            <i class="fas fa-check opacity-10"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Event Price</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-success shadow text-center">
                                            <i class="fas fa-check opacity-10"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Transportation Price
                                            </span>
                                        </div>
                                    </div>


                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-secondary shadow text-center">
                                            <i class="fas fa-minus"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Hosting Price
                                            </span>
                                        </div>
                                    </div>

                                    <a href="javascript:;" class="btn btn-icon btn-primary d-lg-block mt-3 mb-0">
                                        Get your ticket
                                        <i class="fas fa-arrow-right ms-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-lg-0 mb-4">
                            <div class="card">
                                <div class="card-header text-center pt-4 pb-3">
                                    <span class="text-uppercase font-weight-bold text-dark">Bronze Pack</span>
                                    <h1 class="font-weight-bold mt-2">
                                        <small>$</small>89
                                    </h1>
                                </div>
                                <div class="card-body text-lg-start text-center pt-0">
                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-success shadow text-center">
                                            <i class="fas fa-check opacity-10"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Event Price</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-success shadow text-center">
                                            <i class="fas fa-check opacity-10"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Hosting Price
                                            </span>
                                        </div>
                                    </div>


                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-secondary shadow text-center">
                                            <i class="fas fa-minus"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Transportation Price
                                            </span>
                                        </div>
                                    </div>

                                    <a href="javascript:;" class="btn btn-icon btn-primary d-lg-block mt-3 mb-0">
                                        Get your ticket
                                        <i class="fas fa-arrow-right ms-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-lg-0 mb-4">
                            <div class="card">
                                <div class="card-header text-center pt-4 pb-3">
                                    <span class="text-uppercase font-weight-bold text-dark">Gold Pack</span>
                                    <h1 class="font-weight-bold mt-2">
                                        <small>$</small>99
                                    </h1>
                                </div>
                                <div class="card-body text-lg-start text-center pt-0">
                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-success shadow text-center">
                                            <i class="fas fa-check opacity-10"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Event Price</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-success shadow text-center">
                                            <i class="fas fa-check opacity-10"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Hosting Price
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-lg-start justify-content-center p-2">
                                        <div class="icon icon-shape icon-xs rounded-circle bg-gradient-success shadow text-center">
                                            <i class="fas fa-check opacity-10"></i>
                                        </div>
                                        <div>
                                            <span class="ps-3">Transportation Price
                                            </span>
                                        </div>
                                    </div>



                                    <a href="javascript:;" class="btn btn-icon btn-dark d-lg-block mt-3 mb-0">
                                        Get your ticket
                                        <i class="fas fa-arrow-right ms-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
