{% extends '/dashboard/events/template.twig' %}
{% block formStep %}
    <h5 class="font-weight-bolder">Speaker Information</h5>
    <div class="multisteps-form__content">
        <div class="row">
            <div class="col-md-6 col-sm-12 row mt-3">
                <div class="">
                    <label>First Name</label>
                    <input class="multisteps-form__input form-control" type="text"
                           placeholder="First Name"/>
                </div>
                <div class="">
                    <label>Last Name</label>
                    <input class="multisteps-form__input form-control" type="text"
                           placeholder="Last Name"/>
                </div>

                <div class="">
                    <label>Job</label>
                    <input class="multisteps-form__input form-control" type="text"
                           placeholder="Job title"/>
                </div>

            </div>
            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                <label class="mt-4 form-label">Add Speaker Picture </label>
                <div class="dropzone form-control h-100" id="upload">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 ">
        <label class="mt-4">Description</label>
        <p class="form-text text-muted text-xs ms-1 d-inline">
            (optional)
        </p>
        <div id="edit-deschiption" class="h-50">
            <p>Some initial <strong>bold</strong> text</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <label>Email Account</label>
            <input class="multisteps-form__input form-control" type="email"
                   placeholder="Email"/>
        </div>
        <div class="col-12 mt-3">
            <label>Github Account</label>
            <input class="multisteps-form__input form-control" type="text"
                   placeholder="https://..."/>
        </div>
        <div class="col-12 mt-3">
            <label>Linkedin Account</label>
            <input class="multisteps-form__input form-control" type="text"
                   placeholder="https://..."/>
        </div>
    </div>
    <div>
        <div class="button-row d-flex mt-4">
            <button class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button"
                    title="Next">Next
            </button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">

    </script>
{% endblock %}
